.user {
  .account {
    background-color: white;
  }
}

.account-info {
  .update-form {
    background-color: $white;
  }
  .create-form {
    background-color: $white;
  }
}
.profile {
  .form-add {
    background-color: $white;
    border-radius: 18px;
  }
}
