#main .poster {
  background-image: url("/imgs/poster-home.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: start;
  align-items: start;
  color: $white;
  @include respond(sm) {
    height: 90vh;
  }
  @include respond(mobile) {
    height: 85vh;
  }
}

.poster .service-item {
  background-color: $white;
  height: 170px;
  width: 180px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  border-radius: 10px;
  .caption {
    font-size: 16px;
  }
  .img-icon {
    width: 60%;
  }
  @include respond(lg) {
    height: 140px;
    width: 150px;
    .caption {
      font-size: 14px;
    }
  }
  @include respond(md) {
    height: 120px;
    width: 130px;
    .caption {
      font-size: 14px;
    }
  }
  @include respond(sm) {
    height: 140px;
    width: 140px;
    .caption {
      font-size: 13px;
    }
  }
  @include respond(mobile) {
    height: 120px;
    width: 120px;
    // background-color: black;
    .caption {
      font-size: 12px;
    }
  }
}
.poster .service-item:hover {
  border: $black 1px solid;
  cursor: pointer;
}

.top-facility .facility.odd {
  background-color: $white-body;
  border-radius: 10px;
}
.top-facility .facility {
  background-color: $white;
  border-radius: 10px;
  padding: 10px 0;
  margin: 10px 0;
}
