.regis {
  //   background-color: #000;
  .service {
    max-width: 85%;
    width: 70%;
    height: 60vh;
    margin: auto;
    .service-item {
      background-color: $white;
      border-radius: 15px;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5%;
      .img-icon {
        transition: transform 0.2s;
        height: 60px;
        width: 60px;
      }
    }
    .service-item:hover {
      background-color: $white;
      border: 1px solid $item-hover;
      .img-icon {
        transition: transform 0.2s;
        transform: scale(1.1);
      }
    }
  }
  .service-main {
    // background-color: black
    .infor {
      background-color: $white;
      border-radius: 10px;
      margin: 10px 0;
      max-height: 40vh;
    }
    .option {
      border-radius: 10px;
    }
    .session {
      background-color: $white;
      .date {
        padding: 10px;
        width: 500px;
        .react-datepicker {
          font-size: 14px;
        }

        .react-datepicker__day {
          width: 35px;
          line-height: 30px;
          display: inline-block;
          text-align: center;
          margin: 2px;
        }

        .react-datepicker__week {
          display: flex;
          justify-content: space-between;
        }

        .react-datepicker__day-names {
          display: flex;
          justify-content: space-between;
        }
      }
    }
    .profile {
      width: 100%;
      .profile-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-height: 100vh;
        overflow: auto;

        .profile-item {
          border: 1px solid $item;
          max-width: 600px;
          border-radius: 18px;
          background-color: $white;
        }
        .profile-item:hover {
          border: 4px solid $item;
          max-width: 620px;
          background-color: #ebfffd;
        }
      }
    }
  }

  @include respond(md) {
    .service {
      max-width: 100%;
      width: 100%;
      height: 60vh;
      padding: 0 10px;
      margin: auto;
      .service-item {
        font-size: 16px;
        .img-icon {
          transition: transform 0.2s;
          height: 50px;
          width: 50px;
        }
      }
    }
    // .service-main {
    //   .infor {
    //     background-color: $white;
    //     border-radius: 10px;
    //     margin: 10px 0;
    //     max-height: 40vh;
    //   }
    //   .option {
    //     border-radius: 10px;
    //   }
    //   .session {
    //     background-color: $white;
    //     .date {
    //       padding: 10px;
    //       width: 500px;
    //       .react-datepicker {
    //         font-size: 14px;
    //       }

    //       .react-datepicker__day {
    //         width: 35px;
    //         line-height: 30px;
    //         display: inline-block;
    //         text-align: center;
    //         margin: 2px;
    //       }

    //       .react-datepicker__week {
    //         display: flex;
    //         justify-content: space-between;
    //       }

    //       .react-datepicker__day-names {
    //         display: flex;
    //         justify-content: space-between;
    //       }
    //     }
    //   }
    //   .profile {
    //     // background-color: black;
    //     .profile-list {
    //       display: flex;
    //       flex-direction: column;
    //       align-items: center;
    //       max-height: 100vh;
    //       overflow: auto;

    //       .profile-item {
    //         border: 1px solid $item;
    //         max-width: 600px;
    //         border-radius: 18px;
    //         background-color: $white;
    //       }
    //       .profile-item:hover {
    //         border: 4px solid $item;
    //         max-width: 620px;
    //         background-color: #ebfffd;
    //       }
    //     }
    //   }
    // }
  }
  @include respond(sm) {
    .service {
      max-width: 100%;
      width: 100%;
      height: 60vh;
      // background-color: black;
      padding: 0 10px;
      margin: auto;
      .service-item {
        .img-icon {
          transition: transform 0.2s;
          height: 46px;
          width: 46px;
        }
      }
    }
  }
  @include respond(mobile) {
    .service {
      max-width: 100%;
      width: 100%;
      height: 60vh;
      // background-color: black;
      padding: 0 10px;
      margin: auto;
      .service-item {
        .img-icon {
          transition: transform 0.2s;
          height: 40px;
          width: 40px;
        }
      }
    }
  }
}
