body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

a {
  color: #1977cc;
  text-decoration: none;
}

a:hover {
  color: #3291e6;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

#main {
  width: 100%;
  margin-top: 79px;
  height: 90vh;
  // background: url("../img/hero-bg.jpg") top center;
  background-size: cover;
  margin-bottom: -200px;
}

.container-fluid {
  // padding-right: 15px;
  // padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* CSS cho container-fluid ở màn hình nhỏ */
@media (min-width: 576px) {
  .container-fluid {
    max-width: 100%;
  }
}

/* CSS cho container ở màn hình lớn */
// @media (min-width: 992px) {
//   .container-fluid {
//     max-width: 1140px;
//   }
// }
